<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ninetynine</title>
    <link rel="stylesheet" href="/Public/CSS/main.css" />
  </head>
  <body>
    <header><%- include("./layout/navbar.ejs") %></header>
    <main>
      <% projects.forEach(project => {​​​​​ %>
      <div>
        <h2><%=project.title%></h2>
        <p><%=project.summary%></p>
        <p><%=project.description%></p>
        <p><%=project.owner%></p>

        <h1>Detta är Admin Sida!!!!!!!!!!!!!!!</h1>

        <form action="/admin " method="POST">
          <input type="text" name="id" value="<%=project._id %> " hidden />
          <input type="text" name="title" />
          <input
            type="text"
            name="description"
            placeholder="edit the description her"
          />
          <button type="submit">Done editing!</button>
        </form>
      </div>
      <% }) %>
    </main>
    <footer><%- include("./layout/footer.ejs") %></footer>
  </body>
</html>
