<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ninetynine</title>
    <link rel="stylesheet" href="/Public/CSS/main.css" />
  </head>
  <body>
    <header><%- include("./layout/navbar.ejs") %></header>
    <main>
      <h1>Welcome Admin!</h1>

      <h2>Want to add a project? Fill in form below!</h2>
      <form action="/admin" method="POST" enctype="multipart/form-data">
        <input type="text" name="id" value="<%=projects._id %>" hidden />
        <input type="text" name="title" placeholder="Title" />
        <input type="text" name="category" placeholder="Category" />
        <input type="text" name="description" placeholder="Description" />
        <input type="text" name="summary" placeholder="Summary" />
        <input type="text" name="owner" placeholder="Owner" />
        <input type="file" name="image">
        <input type="text" name="name">

        <button type="submit">Add Project</button>
      </form>

      <% projects.forEach(project => { %>
      <div>
        <p><%=project.title%></p>
        <p><%=project.category%></p>
        <p><%=project.summary%></p>
        <p><%=project.description%></p>
        <p><%=project.owner%></p>
        <a href="/edit/<%=project._id %>"> Edit</a>
        <a href="/delete/<%=project._id%>"> Delete</a>
      </div>

      <% }) %>
    </main>
    <footer><%- include("./layout/footer.ejs") %></footer>
  </body>
</html>