<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ninetynine</title>
    <link rel="stylesheet" href="/CSS/main.css" />
  </head>
  <body>
    <header><%- include("./layout/navbar.ejs") %></header>
    <main>
      <div>
        <%donationsInCart.forEach(donationsInCart => { %>
        <h2><%=donationsInCart.projectID.title%></h2>
        <p><%=donationsInCart.projectID.summary%></p>

        
        <% donationsInCart.projectID.img.forEach(img => { %>
        <!--Move img styling to suitable scss file-->
        <img
          src="/Uploads/<%=donationsInCart.projectID.img.path%>"
          alt="Project Image could not be displayed"
          height="200px"
          width="200px"
        />
        <% }) %>

        <p>
          You are about to donate: <%=donationsInCart.donationAmount%> $ to this
          project
        </p>
        <p>Do you want to edit this amount? Click on edit below!</p>
        <a href="/editDonation/<%=donationsInCart._id%>"> Edit</a>
        
        <form action="/deleteDonation/<%=projects._id%>" method="post">
          <input type="text" name="id" value="<%=projects._id%>" hidden />
          <button type="submit">Delete</button>
        </form>
        <% }) %>
      </div>
      <h2>Total sum of donations</h2>
      <p><%= totalSumInCart %> $</p>
    </main>
    <footer><%- include("./layout/footer.ejs") %></footer>
  </body>
</html>
