<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ninetynine</title>
    <link rel="stylesheet" href="/CSS/main.css">
</head>
<body>
    <header><%- include("./layout/navbar.ejs") %></header>
    <main>
      <div>
        <%donationsInCart.forEach(project  => { %>
          <p><%=project.projectID.title%></p>
          <p><%=project.projectID.summary%></p>
          <p>You are about to donate: <%=project.donationAmount%> $</p>

          <% project.projectID.img.forEach(img => { %>
            <!--Move img styling to suitable scss file-->
            <img
            src="/Uploads/<%=img.path%>"
            alt="Project Image could not be displayed"
            height="200px"
            width="200px"
            />
          <% }) %>

        <% }) %>
      </div>
      <h2>Total amount of donations</h2>
      <p><%= totalSumInCart %> $</p>


      <button type="submit" class="activateStripe"> Proceed to donation checkout! </button>

    </main>
    <footer><%- include("./layout/footer.ejs") %></footer>
</body>
</html>

<script src="https://js.stripe.com/v3/"></script>

<script>

var stripe = Stripe('<%=stripePublicKey%>');

document.querySelector(".activateStripe").addEventListener( "click", ()=>{
    stripe.redirectToCheckout({ sessionId: "<%=sessionId %>" });
})


</script>