<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <div class="pageContainer">
      <header><%- include("./layout/navbar.ejs") %></header>
     
      <main>
        <div class="hero"><%- include("./layout/hero.ejs") %></div>

        <%- include("./helpers/errors.ejs") %>
        
        <h2>DONATION IS OUR FOUNDATION</h2>
        <span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci nam
          deleniti sapiente obcaecati dolorem, commodi nulla magni, neque
          doloremque cum consectetur, ducimus iste? Labore velit natus eaque
          dolorum recusandae quam est, eius libero! Doloribus praesentium sed
          placeat accusantium omnis, recusandae odit corrupti voluptatibus aut.
          Asperiores odit deleniti ex temporibus voluptate!
        </span>

        <div class="landingModule">
          <span id="climateIcon"></span>
          <span class="landingDesc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci nam
            deleniti sapiente obcaecati dolorem, commodi nulla magni, neque
            doloremque cum consectetur, ducimus iste? Labore velit natus eaque
            dolorum recusandae quam est, eius libero! Doloribus praesentium sed
            placeat accusantium omnis, recusandae odit corrupti voluptatibus aut.
            Asperiores odit deleniti ex temporibus voluptate!
          </span>

          <a class="bigButton" href="/projects">Go to projects!</a>
        </div>
        <div class="landingModule">
          <span id="shelterIcon"></span>
          <span class="landingDesc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci nam
            deleniti sapiente obcaecati dolorem, commodi nulla magni, neque
            doloremque cum consectetur, ducimus iste? Labore velit natus eaque
            dolorum recusandae quam est, eius libero! Doloribus praesentium sed
            placeat accusantium omnis, recusandae odit corrupti voluptatibus aut.
            Asperiores odit deleniti ex temporibus voluptate!
          </span>

          <a class="bigButton" href="/projects">Go to projects!</a>
        </div>
        <div class="landingModule">
          <span id="scienceIcon"></span>
          <span class="landingDesc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci nam
            deleniti sapiente obcaecati dolorem, commodi nulla magni, neque
            doloremque cum consectetur, ducimus iste? Labore velit natus eaque
            dolorum recusandae quam est, eius libero! Doloribus praesentium sed
            placeat accusantium omnis, recusandae odit corrupti voluptatibus aut.
            Asperiores odit deleniti ex temporibus voluptate!
          </span>

          <a class="bigButton" href="/projects">Go to projects!</a>
        </div>
      </main>
      <footer><%- include("./layout/footer.ejs") %></footer>
    </div>  
    <%- include("./partials/scripts.ejs") %>
  </body>
</html>