<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <header><%- include("./layout/navbar.ejs") %></header>
    <div class="hero"><%- include("./layout/hero.ejs") %></div>
    <main>

      <%- include("./helpers/errors.ejs") %>
      
      <h1>DONATION IS OUR FOUNDATION</h1>
      <span>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci nam
        deleniti sapiente obcaecati dolorem, commodi nulla magni, neque
        doloremque cum consectetur, ducimus iste? Labore velit natus eaque
        dolorum recusandae quam est, eius libero! Doloribus praesentium sed
        placeat accusantium omnis, recusandae odit corrupti voluptatibus aut.
        Asperiores odit deleniti ex temporibus voluptate!
      </span>

      <div class="landingModule">
        <h2>Climate action</h2>
        <span id="climateIcon"></span>
        <span class="landingDesc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci nam
          deleniti sapiente obcaecati dolorem, commodi nulla magni, neque
          doloremque cum consectetur, ducimus iste? Labore velit natus eaque
          dolorum recusandae quam est, eius libero! Doloribus praesentium sed
          placeat accusantium omnis, recusandae odit corrupti voluptatibus aut.
          Asperiores odit deleniti ex temporibus voluptate!
        </span>

        <a class="bigButton" href="/projects">Go to projects!</a>
      </div>
      <div class="landingModule">
        <h2>Food and shelter</h2>
        <span id="shelterIcon"></span>
        <span class="landingDesc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci nam
          deleniti sapiente obcaecati dolorem, commodi nulla magni, neque
          doloremque cum consectetur, ducimus iste? Labore velit natus eaque
          dolorum recusandae quam est, eius libero! Doloribus praesentium sed
          placeat accusantium omnis, recusandae odit corrupti voluptatibus aut.
          Asperiores odit deleniti ex temporibus voluptate!
        </span>

        <a class="bigButton" href="/projects">Go to projects!</a>
      </div>
      <div class="landingModule">
        <h2>Reserach and innovation</h2>
        <span id="scienceIcon"></span>
        <span class="landingDesc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci nam
          deleniti sapiente obcaecati dolorem, commodi nulla magni, neque
          doloremque cum consectetur, ducimus iste? Labore velit natus eaque
          dolorum recusandae quam est, eius libero! Doloribus praesentium sed
          placeat accusantium omnis, recusandae odit corrupti voluptatibus aut.
          Asperiores odit deleniti ex temporibus voluptate!
        </span>

        <a class="bigButton" href="/projects">Go to projects!</a>
      </div>
    </main>
    <footer><%- include("./layout/footer.ejs") %></footer>
    <%- include("./partials/scripts.ejs") %>
  </body>
</html>