<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ninetynine</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/CSS/main.css" />
  </head>
  <body>
    <header><%- include("./layout/navbar.ejs") %></header>

    <main>
        <h1>Welcome to your profile page, <%=user.username%></h1>

        <h2>Here you'll find the projects that you've put under observation:</h2>
        <h3>Perhaps it's time to make a donation?</h3>

        <% if(messages.confirmation){ %>
          <p><%= messages.confirmation %></p>
          <% }%> 

        <% if(messages.error){ %>
        <p><%= messages.error %></p>
        <% }%>
    
        <% if(messages.duplicate){ %>
        <p><%= messages.duplicate %></p>
        <% }%>

        <% user.wishlist.forEach(project => { %>
        
          <div>
            <h2><%=project.title%></h2>
            <!-- Remove from Wishlist button post method-->
        <form action="/profile/delete" method="post">
          <input type="text" name="removeId" value="<%=project._id%>" hidden />
          <button type="submit"> REMOVE </button>
        </form>
            <p><%=project.summary%></p>
        <p><%=project.description%></p>
          </div>

          <% project.img.forEach(img => { %>
            <!--Move img styling to suitable scss file-->
            <img
              src="/Uploads/<%=img.path%>"
              alt="Project Image could not be displayed"
              height="200px"
              width="200px"
            />
            <% }) %>

            <form action="/profile" method="post">
              <input type="text" name="id" value="<%=project._id%>" hidden />
              
              <input type="number" name="donation" />
              <button type="submit">Donate!</button>
            </form>
        <% }) %>


    </main>

    <footer><%- include("./layout/footer.ejs") %></footer>
  </body>
</html>