<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <header><%- include("./layout/navbar.ejs") %></header>
    <div class="hero"><%- include("./layout/hero.ejs") %></div>
    <main>

    <%- include("./helpers/flash_messages.ejs") %>
      
     <% projects.forEach(project => { %>

      <div class="projectContainer">
        <h2><%=project.title%></h2>

        <% if(user){ %>
        <!-- Wishlist button post method-->
        <form action="/projects/wishlist" method="post">
          <input type="text" name="wishId" value="<%=project._id%>" hidden />
          <input type="text" name="page" value="<%=page%>" hidden />
          <button type="submit"><div class="wishIcon"></div></button>
        </form>
        <% } %>

        <p><%=project.summary%></p>
        <p><%=project.description%></p>

        <% project.img.forEach(img => { %>
        <!--Move img styling to suitable scss file-->
        <img
          src="/Uploads/<%=img.path%>"
          alt="Project Image could not be displayed"
          height="200px"
          width="200px"
        />
        <% }) %> 
        
        <% if(user==null){ %>
        <fieldset disabled="disabled">
        <% } %>
        <form action="/projects" method="post">
          <input type="text" name="id" value="<%=project._id%>" hidden />
          <input type="text" name="page" value="<%=page%>" hidden />
          <input type="number" name="donation" />
          <button type="submit">Donate!</button>
        </form>
        <% if(user==null){ %>
        </fieldset>
        <% } %>
      </div>
      <% }) %>

      <!-- Pagination part -->
      <% if(amountOfProjects == 0) { %>
      <h1>No projects exists!</h1>
      <% } else if( totalPages !== projectsToShow/showedProjectsPerPage) { %>

      <a href="/projects/?page=<%=(projectsToShow/showedProjectsPerPage)+1 %>"
        >Show more</a>

      <% } else { %>
      <a href="/projects/?page=<%=(projectsToShow/showedProjectsPerPage)-1 %>"
        >Show less</a>

      <% } %>
    </main>
    <footer><%- include("./layout/footer.ejs") %></footer>
    <%- include("./partials/scripts.ejs") %>
  </body>
</html>
