<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <div class="pageContainer">
      <header>
          <%- include("./layout/altNavbar.ejs") %>
      </header>
      <main>
        <div class="formContainer">
          <form
            action="/resetPasswordForm"
            method="post"
            class="submitUserInformation"
          >
            <h1>Reset your password here below!</h1>

            <!-- Below message will pop up if the user forgot to type in a new password -->
            <div class="messages">
              <%- include("./helpers/errors.ejs") %>
            </div>
            
            <!--Joi validation error messages-->
            <% for(let i=0; i<error.length; i++) { %>
              <p class="messages"><%=error[i].message %></p>
            <% } %> 
            
            <label for="password" class="label"
              >Please type in your new password below</label
            >
            <input type="password" name="password" class="inputBox" />
            <input type="email" name="email" value="<%=email%>" hidden />
            <input type="text" name="username" value="<%=username%>" hidden />
            <button type="submit" class="smallButton buttonMargin">
              Reset your password
            </button>
          </form>
        </div>
      </main>
      <footer><%- include("./layout/footer.ejs") %></footer>
    </div>
    <%- include("./partials/scripts.ejs") %>
  </body>
</html>
