<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <div class="pageContainer">
    <header><%- include("./layout/navbar.ejs") %></header>
    <main>
      <%- include("./helpers/flash_messages.ejs") %>
      <div class="projectContainer">

        <h2><%=project.projectID.title%></h2>
        <p><%=project.projectID.category%></p>

        <div class="projectImgAndDesc">
          
          <div class="projectImage">
            <% project.projectID.img.forEach(img => { %>
              <!--Move img styling to suitable scss file-->
              <img
                src="/Uploads/<%=img.path%>"
                alt="Project Image could not be displayed"
                height="200px"
                width="200px"
              />
            <% }) %>
          </div>
          <div class="projectDesc">
            <p><%=project.projectID.summary%></p>
          </div>

        </div>

        <p> If you'd like to update this amount, fill in the field below and click the button!</p>
        
       
        <form action="/editDonation" method="post">
          <input
            type="text"
            name="id"
            value="<%=project._id%>"
            hidden
          />
          <div class="donationDiv">
            <div class="donationLabelAndInput">
              <label for="donationAmount">Current donation amount: <b><%=project.donationAmount%>.00 $</b> </label>
              <input class="form-control" type="number" name="donationAmount" placeholder="New amount" />
            </div>
            <button type="submit" class="bigButton">Done!</button>
          </div>
        </div>
        <p>Changed your mind?</p>
            <a class="link" href="/checkout">Back</a>
      </main>
      <footer><%- include("./layout/footer.ejs") %></footer>
    </div>
  </body>
</html>