<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <div class="pageContainer">
      <header><%- include("./layout/navbar.ejs") %></header>
      <main>
        <%- include("./helpers/flash_messages.ejs") %>
        <%donationsInCart.forEach(project => { %>
        <div class="projectContainer">
          <h2><%=project.projectID.title%></h2>

          <div class="projectImgAndDesc">
            <div class="projectImage">
              <% project.projectID.img.forEach(img => { %>
              <!--Move img styling to suitable scss file-->
              <img
                src="/Uploads/<%=img.path%>"
                alt="Project Image could not be displayed"
                height="200px"
                width="200px"
              />
              <% }) %>
            </div>
            <div class="projectDesc">
              <p><%=project.projectID.summary%></p>
            </div>
          </div>

          <div class="editAndDelete">
            <a href="/donation/<%=project._id%>">
              <button class="bigButton">Change donation amount</button>
            </a>

            <form action="/checkout/delete" method="post">
              <input type="text" name="id" value="<%=project._id%>" hidden />
              <button type="submit" class="bigButton">Remove donation</button>
            </form>
          </div>
          <h3>Chosen donation amount: <%=project.donationAmount%>.00 $</h3>
        </div>
        <% }) %>

        <div class="totalSum">
          <h2>Total amount: <%= totalSumInCart %>.00 $</h2>
        </div>

        <!--Activate Stripe-->
        <button type="submit" class="activateStripe bigButton">
          Proceed to donation checkout!
        </button>
      </main>
      <footer><%- include("./layout/footer.ejs") %></footer>
    </div>
  </body>
</html>
<script src="https://js.stripe.com/v3/"></script>
<script>
  var stripe = Stripe("<%=stripePublicKey%>");
  document.querySelector(".activateStripe").addEventListener("click", () => {
    stripe.redirectToCheckout({ sessionId: "<%=sessionId %>" });
  });
</script>
