<!-- This is like a receipt so the user can see what donations he/she made when they have donated -->

<!--Needs styling!!!-->
<div>
  <% if(donatedProjects.length === 0) { %>
  <h1>This link doesn't work anymore!</h1>
  <% } else { %>
  <h3>Your donations:</h3>

  <hr />

  <div>
    <% donatedProjects.forEach(yourDonation => { %>
        <p>Project: <%=yourDonation.projectID.title%></p>
        <p>Summary: <%=yourDonation.projectID.summary%></p>

        <p>Amount you donated: <%=yourDonation.donationAmount%> USD</p>

        <% yourDonation.projectID.img.forEach(img => { %>
        <!--Move img styling to suitable scss file-->
            <img
            src="/Uploads/<%=img.path%>"
            alt="Project Image could not be displayed"
            height="200px"
            width="200px"
            />
        <% }) %>

    <hr />

    <% }) %>
  </div>

  <p>Total amount: <%=totalSumInCart%> USD</p>

  <div>
    <p>The other 99</p>
    <!--Implement the logo here? An IMG-->
    <p>Donation is our foundation</p>
    <p><a href="/">Link to our website!</a></p>
  </div>

  <% } %>
</div>