<!-- This is like a receipt so the user can see what donations he/she made when they have donated -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <main>
      <div class="thankYouForYourDonationContainer">
        <img src="/Assets/Icons/icon_logo.png" alt="logo" class="background-image" />
            <% if(donatedProjects.length === 0) { %>
          <h1>This link doesn't work anymore!</h1>
            <% } else { %>
          <h1>You have purchased the following donations:</h1>
        <hr />

        <div>
          <% donatedProjects.forEach(yourDonation => { %>
            <p>Project: <%=yourDonation.projectID.title%></p>
            <p>Summary: <%=yourDonation.projectID.summary%></p>
            <p>Amount you donated: <%= yourDonation.donationAmount%> USD</p>
            
            <% yourDonation.projectID.img.forEach(img => { %>
              <img src="/Uploads/<%=img.path%>" alt="Project Image could not be displayed" height="200px" width="200px"/>
            <% }) %>
          <hr />
            <% }) %>
        </div>

      <p>Total amount: <%=totalSumInCart%> USD</p>
      <p>The other 99</p>
      <p class="bigButton"><a href="/">Link to our website!</a></p>
      <% } %>
      </div>
   </main> 
  </body>
</html>